
/* Weather display styles */
#weather {
    margin: 10px 0px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 8px;
}

#icon-display img {
    height: 2.2em;
    margin: -15px -5px;
}

.low {
    padding: 6px;
    background: green;
    border-radius: 10px;
}

.moderate {
    padding: 6px;
    background: yellow;
    border-radius: 10px;
}
.high {
    padding: 6px;
    background: orange;
    border-radius: 10px;
}
.veryhigh {
    padding: 6px;
    background: red;
    border-radius: 10px;
}
.extreme {
    padding: 6px;
    background: purple;
    border-radius: 10px;
}

/* Agolia API styles */
.ap-input-icon.ap-icon-pin {
    display: none;
}
